body{
	margin: 0px;
	padding: 0px
	font-family: sans-serif;
}
button:focus, input:focus{
	outline: 0px;
}
.widget_Wrapper{
	max-width: 600px;
	display: block;
	margin: 135px auto;
}
.widget_box{
	position: relative;
}
.popover_wrapper{
	display: block;
    position: absolute;
    width: 100%;
    top: -125px;
    height: 0px;
    overflow: auto;
}
.popover_wrapper.show{
	height: auto;
}
.popover_wrapper .popover{
	display: block;
    background-color: #424242;
    padding: 10px;
    color: #ffffff;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 200;
    text-align: center;
    line-height: 80px;
    position: relative;
    margin-bottom: 25px;
    border-radius: 8px;
}
.popover_wrapper .popover::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #424242;
    position: absolute;
    bottom: -15px;
    overflow: visible;
    right: 10%;
}
.progress_bar{
	background-color: #fafafa;
	width: auto;
	height: 23px;
	border: 2px solid #dcdcdc; 
	position: relative;
}
.progress_indicator{
    background-color: #ef5f3c;
    position: absolute;
    width: auto;
    height: 100%;
    max-width: 100%;
    -webkit-transition: width 1s;
	transition: width 1s;
}
.highlighted_txt{
	color: #ef5f3c;
	font-weight: 500;
}
.widget_body{
	padding: 30px;
	color: #828282;
	border: 1px solid #dcdcdc;
	margin-bottom: 25px;
	border-top: 0px;
}
.widget_body p{
	margin-bottom: 25px;
    font-size: 27px;
    letter-spacing: 2.1px;
    line-height: 38px;
    font-weight: 100;
    font-family: sans-serif;
}
.widget_body p:nth-child(1){
	margin-top: 0px;
}
.currencyinput{
	font-size: 30px;
    float: left;
    line-height: 100px;
    position: absolute;
    left: 20px;
}
.fields_wrapper .input_wrapper{
	position: relative;
}
.fields_wrapper .input_wrapper input[type="text"]{
	width: 243px;
    height: 100px;
    font-size: 34px;
    padding: 20px 20px 20px 45px;
    margin-right: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    float: left;
    color: #424242;
    border : 2px solid #dcdcdc;
}
#js_givenValue::before{
	content: "$"
}
.giveNow_btn{
	display: inline-block;
	height: 100px;
    width: 243px;
    background: #1cbc2c;
    border-radius: 5px;
    border:0px;
    padding: 20px;
    font-size: 36px;
    color: #ffffff;
}
.link{
	color: #20a1d4;
	font-style: italic;
}
.saveIt{
	display: inline-block;
	width: 282px;
	height: 73px;
	background-color: #fafafa;
	color: #777777;
	border: 1px solid #ddd;
	font-size: 30px;
	box-shadow: 0px 0px 2px #dcdcdc;
	margin-right: 20px;
}
.shareIt{
	display: inline-block;
	width: 282px;
	height: 73px;
	background-color: #fafafa;
	color: #777777;
	border: 1px solid #ddd;
	font-size: 30px;
	box-shadow: 0px 0px 2px #dcdcdc;
}